button,
input[type='button'] {
    padding: .5rem 1rem;
    border-radius: var(--circle);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: hsl(100, 50%, 50%);
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    color: var(--bg-light);
    transition: all 0.2s ease-in-out;
    will-change: transform;
}

button:hover,
input[type="button"]:hover {
    transform: scale(1.08);
}

@media (min-width: 768px) {

    button,
    input[type="button"] {
        font-size: 1.3rem;
    }
}