button {
    padding: .5rem 1rem;
    border-radius: var(--circle);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: hsl(100, 50%, 50%);
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    color: var(--bg-light);
}

@media (min-width: 768px) {
    button {
        font-size: 1.3rem;
    }
}