.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-start {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}


.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}


.gap-2 {
    gap: 2rem;
}

.gap-1 {
    gap: 1rem;
}

.col {
    flex-direction: column;
}