.menu {
    width: 90vw;
    min-height: 70vh;
    background-color: var(--bg);
    border-radius: var(--border-radius);
    border: var(--border);
    transform: translateY(400px);
    opacity: 0;

    .slide-up-in {
        opacity: 0;
    }

    li.slide-up-in {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }

    ul {
        height: 100%;

        li:nth-child(1n+2) {
            width: 80%;
        }
    }
}


ul,
li {
    list-style: none;
    width: 95%;
}

input {
    width: 100%;
}

@media (min-width: 768px) {
    .menu {
        width: 700px;

        li:nth-child(1n+2) {
            width: 80%;
        }
    }

}