.menu {
    width: 90vw;
    min-height: 70vh;
    background-color: var(--bg);
    border-radius: var(--border-radius);
    border: var(--border);
}

.slide-up-in {
    opacity: 0;
}

ul,
li {
    list-style: none;
    width: 95%;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

ul {
    height: 100%;
}


li:nth-child(1n+2) {
    width: 80%;
}

input {
    width: 95%;
}

@media (min-width: 768px) {
    .menu {
        width: 700px;
    }

    li:nth-child(1n+2) {
        width: 80%;
    }
}