.shopping-list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: brown;
    z-index: 10000;
    padding: 1rem;
}

.card {
    width: 95%;
    background-color: white;
    padding: 1rem;
    border: var(--border);
    border-radius: var(--border-radius);
}

.right-section {
    min-height: 100%;
    height: 100%;
}

.details {
    height: 100%;
}

.currency {
    background-color: orange;
    border-radius: 50%;
    padding: 0.25rem;
    aspect-ratio: 1;
}